<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="site-title">loading ...</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/favicon.ico">
    <link rel="stylesheet" href="https://use.typekit.net/sha4vwt.css">
    <link rel="stylesheet" href="../../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../article.js"></script>
</head>
<body>
    
    <header>
        <h1 id="article-heading">loading ...</h1>
    </header>
    <main> 
        <div class="max-wrapper">
            <div class="meta-box">
                <div id="article-author"></div> | 
                <div id="article-created-on"></div>
            </div>
            <div id="article-body" class="light"></div>
        </div>
    </main>
    <footer>
        <div class="max-wrapper">
            <h3 class="footer-heading">Thanks.</h3>
            <div class="footer-small-print">
                &copy; 2020 Moritz Mitterdorfer | <a href="#">Impress</a>
            </div>
        </div>
    </footer>
    
</body>
</html>