<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rackod Blog</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="https://use.typekit.net/sha4vwt.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
    
    <header>
        <h1>Rackod Blogs</h1>
    </header>
    <main> 
        <div class="max-wrapper">
            <div>
                <h2>About this blog</h2>
                <p class="light">
                    This blog should present <span class="mark">Computer Science</span> related topics in a nice and understandable way.
                </p>
            </div>
            <div class="section">
                <h2>New Articles</h2>
                <div id="articles"></div>
            </div>
        </div>
    </main>
    <footer>
        <div class="max-wrapper">
            <h3 class="footer-heading">Thanks.</h3>
            <div class="footer-small-print">
                &copy; 2020 Moritz Mitterdorfer | <a href="#">Impress</a>
            </div>
        </div>
    </footer>
    
</body>
</html>